.form-floating:focus-within {
    z-index: 2;
}

.search-button-css{
    /* margin-bottom: -1px; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  
.search-css input[type="search"]{
    /* margin-bottom: 10px; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}